@page "/images"
@inject HttpClient Http

<h1>Image Database</h1>

<p>This page shows all the images stored in the database.</p>

@if (_images == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (_images.Length == 0)
{
    <p>
        <em>No images found in database.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th class="jobberentes-table">CreateDate</th>
            <th class="jobberentes-table">Name</th>
            <th class="jobberentes-table">Image</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var image in _images)
        {
            <tr>
                <td class="jobberentes-table">@image.CreateDate.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss.fff")</td>
                <td class="jobberentes-table">@image.Name</td>
                <td class="jobberentes-table">
                    <img class="jobberentes-image" src="data:image/png;base64, @image.DataBase64"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ImageOutput[]? _images;

    protected override async Task OnInitializedAsync()
    {
        _images = await Http!.GetFromJsonAsync<ImageOutput[]>("/api/Images").ConfigureAwait(false);
    }

}
