@page "/images"
@inject HttpClient Http

<h1>Image Database</h1>

<p>This page shows all the images stored in the database.</p>

@if (_images == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (_images.Length == 0)
{
    <p>
        <em>No images found in database.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var image in _images)
        {
            <tr>
                <td>@image.Name</td>
                <td>
                    <img src="data:image/png;base64, @image.DataBase64"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Image[] _images;

    protected override async Task OnInitializedAsync()
    {
        _images = await Http.GetFromJsonAsync<Image[]>("/api/Images").ConfigureAwait(false);
    }

}
